.container {
  background: repeating-linear-gradient(-45deg, black, #0c0c0c 5px);
  max-width: 600px;
  height: 320px;
  margin: auto;
  border-radius: 5px;
  padding: 2.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentQuoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  color: #b1b1b1;
}

.quote {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.author {
  margin-bottom: 2rem;
  text-align: end;
  font-family: 'Roboto Condensed', sans-serif;
}

.ctaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tumblr {
  margin-right: auto;
  margin-left: 0.5rem;
}

.button {
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.twitter {
  background-color: #0000ff;
}

.tumblr {
  background-color: #60d55b;
}

.b1 {
  border-radius: 50%;
  background-color: #000000;
}

img {
  display: block;
}

.getNewQuote {
  background: linear-gradient(135deg, #520052, #830083);
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 5px;
}
